/* style */
*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    border: none;
    -webkit-touch-callout:none;
    -moz-touch-callout:none;
    -ms-touch-callout:none;
    touch-callout:none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

html {
    font-size: 100px;
    height: 100%;
}

body {
    height: 100%;
    font-family: "PingFangSC-Regular", "Microsoft Yahei", sans-serif;
    font-weight: 700;
}

a,a:link,a:focus,a:active{
    text-decoration: none;
    color:#333333;
}

.hide {
    display: none !important;

}

/* keyframes */
@keyframes drop {
    0% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        transform: translateY(20px)
    }
    20% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
    60% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
    80% {
        opacity: 0;
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px)
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px)
    }
}

@-webkit-keyframes drop {
    0% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        transform: translateY(-20px)
    }
    20% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
    60% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
    80% {
        opacity: 0;
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px)
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px)
    }
}

@keyframes rotate {
    0%{
        transform:rotate(0)
    }
    100%{
        transform: rotate(360deg);
    }
}
